.founder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
}

.founder img {
    grid-column: 1;
    grid-row: 1 / span 5;
}

.founder > div {
    grid-column: 1;
    grid-row: 5 / span 5;
    order: 2;
}

@media (width >= 40em) {
    :root {
        --avatar: 280px;
    }
    .founder {
        justify-content: center;
        grid-template-columns: repeat(auto-fit, calc(var(--avatar) / 3));
        grid-template-rows: repeat(auto-fit, calc(var(--avatar) / 2));
    }

    .founder img {
        max-width: var(--avatar);
        grid-column: 1 / span 3;
    }

    .founder > div {
        grid-column: 3 / span 6;
        grid-row: 3;
    }
}

@media (width >= 64em) {
    :root {
        --avatar: 480px;
    }
    .founder {
        justify-content: center;
        grid-template-columns: repeat(auto-fit, calc(var(--avatar) / 4));
        grid-template-rows: repeat(6, calc(var(--avatar) / 5));
    }

    .founder img {
        max-width: var(--avatar);
        grid-column: 1 / span 4;
    }

    .founder > div {
        grid-column: 4 / span 6;
        grid-row: 3 / span 4;
    }
}