.founder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
}

.founder img {
    grid-column: 1;
    grid-row: 1 / span 5;
}

.founder > div {
    grid-column: 1;
    grid-row: 5 / span 5;
    order: 2;
}

@media (30em <= width <= 64em) {
    .founder {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }

    .founder img {
        grid-column: 1 / span 3;
        grid-row: 1 / span 4;
    }

    .founder > div {
        grid-column: 3 /span 4;
        grid-row: 3 / span 4;
    }
}